[submodule "source/MyTools"]
	path = source/MyTools
	url = https://github.com/phvermeer/connectiq-MyTools.git
[submodule "source/MyViews"]
	path = source/MyViews
	url = https://github.com/phvermeer/connectiq-MyViews.git
[submodule "source/MyDrawables"]
	path = source/MyDrawables
	url = https://github.com/phvermeer/connectiq-MyDrawables.git
[submodule "source/MyMath"]
	path = source/MyMath
	url = https://github.com/phvermeer/connectiq-MyMath.git
[submodule "source/MyLayoutHelper"]
	path = source/MyLayoutHelper
	url = https://github.com/phvermeer/connectiq-MyLayoutHelper
[submodule "source/MyGraph"]
	path = source/MyGraph
	url = https://github.com/phvermeer/connectiq-MyGraph.git
[submodule "source/MyList"]
	path = source/MyList
	url = https://github.com/phvermeer/connectiq-MyList
