[submodule "source/MyTools"]
	path = barrels/MyTools
	url = https://github.com/phvermeer/connectiq-MyTools.git
[submodule "source/MyViews"]
	path = barrels/MyViews
	url = https://github.com/phvermeer/connectiq-MyViews.git
[submodule "source/MyDrawables"]
	path = barrels/MyDrawables
	url = https://github.com/phvermeer/connectiq-MyDrawables.git
[submodule "source/MyMath"]
	path = barrels/MyMath
	url = https://github.com/phvermeer/connectiq-MyMath.git
[submodule "source/MyLayoutHelper"]
	path = barrels/MyLayoutHelper
	url = https://github.com/phvermeer/connectiq-MyLayoutHelper
[submodule "source/MyGraph"]
	path = barrels/MyGraph
	url = https://github.com/phvermeer/connectiq-MyGraph.git
[submodule "source/MyList"]
	path = barrels/MyList
	url = https://github.com/phvermeer/connectiq-MyList
